$black: #212121;
$grey: #efefef;
$blue: #588ed8;
$selected: change-color($blue, $alpha: 0.1);
$valid: $blue;
$invalid: #d85858;
$sudoku-width: 500px;

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}


.center-container {
  width: $sudoku-width;
  margin: 40px auto;
}

.right-container {
  width: $sudoku-width;
  text-align: right;
}

.sudoku {
  width: $sudoku-width;
  height: $sudoku-width;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  border: 1px solid $black;

  &:focus {
    outline: none;
  }
}

.matrix {
  min-width: 33.33%;
  min-height: 33.33%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid $black;
}

.box {
  min-width: 33.33%;
  min-height: 33.33%;
  box-sizing: border-box;
  border: 1px solid $grey;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  user-select: none;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    font-size: 0;
  }

  &.valid {
    color: $valid;
  }

  &.invalid {
    color: $invalid;
  }

  &.selected {
    background: $selected;
  }
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin-right: 15px;
  }
}

button {
  border: 1px solid $blue;
  border-radius: 4px;
  color: #ffffff;
  background: $blue;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;

  &:hover {
    background: darken($blue, $amount: 10%);
    cursor: pointer;
  }
}
